<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" id="newListModal" tabindex="-1" aria-labelledby="newListModalLabel" aria-hidden="true" data-controller="bs-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
          <% if params[:controller] == "lists" && (params[:action] == "new" || params[:action] == "create")  %>
            <%= render "list_form", list: list %>
          <% elsif params[:controller] == "bookmarks" && (params[:action] == "new" || params[:action] == "create") %>
            <%= render "bookmark_form", list: list, bookmark: bookmark %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
