<div class="card-category" id="lists_list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, crop: :fill %>')">
  <h2><%= link_to list.name, list_path(list), class: "link-underline-effect" %></h2>
  <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, list_path(list), class: "delete-list-icon", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
