<div class="banner">
  <div class="container">
    <h1 class="mb-5">All your favourite movies in just one place</h1>
    <%= link_to "Create a new list", new_list_path, class: "btn-pink-banner", data: { controller: "modal", action: "click->modal#showModal"} %>
  </div>
</div>

<%# LISTS %>

<div class="container mb-5">
  <h2 class="mt-5 mb-5 text-center">Discover your lists</h2>
  <div class="lists-list" id="lists_list">
    <% @lists.each do |list| %>
        <%= render "list", list: list %>
    <% end %>
  </div>
</div>
