<div class="banner">
  <div class="container">
    <h1 class="mb-5">All your favourite movies in just one place</h1>
    <%= link_to "Create a new list", new_list_path, class: "btn-pink" %>
  </div>
</div>
<div class="container mb-5">
  <h2 class="mt-5 mb-5 text-center">Discover your lists</h2>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card-category" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/DVrd40h/randy-rizo-vb-BJZzl3-Au-Q-unsplash.jpg)'>
          <h2><%= link_to list.name, list_path(list) %></h2>
        </div>
      </div>
    <% end %>
  </div>



  <%= link_to "Create a new list", new_list_path, class: "btn-pink" %>
</div>
