<h2 class="mt-2 mb-3">Add a movie now to <span class="pink-font">watch later</span></h2>
<%= simple_form_for [list, bookmark] do |f| %>
  <%= f.input :movie, collection: Movie.to_select, input_html: {name: "title", data: {controller: "tom-select", tom_select_url_value: autocomplete_lists_path}} %>
  <%= f.input :comment %>
  <%= f.button :submit, value: "Add a movie", class: "btn-pink btn-center", data: { action: "click->bs-modal#submitEnd"} %>
<% end %>
