.card-product {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-product img {
  height: auto;
  width: 30%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;

  a {
    align-self: flex-end;
  }

  i {
    font-size: 0.9rem;
    color: rgb(254, 0, 80);
    position: relative;
    bottom: -30px;
  }
}
