.navbar-lewagon {
  justify-content: flex-start;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-film {
  font-size: 2rem;
  color: rgb(254, 0, 80);
}

.nav-item {
  margin-right: 20px;
}
